
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */